body {
    background-color: black;
}

#container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

h1 {
    animation: changeColor 2s linear infinite;
    font-size: 100px;
    font-family: Brush Script MT;
}

h2 {
    animation: changeColor 2s linear infinite;
    font-size: 100px;
    font-family: Brush Script MT;
}

@keyframes changeColor {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    75% {
        color: green;
    }
    100% {
        color: red;
    }
}

.fireworks {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

.rotate {
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background-image: url('https://scontent.fhan1-1.fna.fbcdn.net/v/t39.30808-6/337517582_954497609041025_8543268070235886057_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=0debeb&_nc_ohc=U3WAWvJLMQwAX91jBJ8&_nc_ht=scontent.fhan1-1.fna&oh=00_AfAZtgqwzkhq_YEWnApRCgrbs9CilL7GnQuiU9mKyarEHQ&oe=643D57B2');
    background-size: cover;
    animation: moveBackground 5s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}